*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    margin:auto;
    margin-top: 250px;
    position:relative;
    width: 98%;
    height: 200px;
    background-color: red;
    transform: rotate(20deg);

}
.box{
  width: 150px;
  height: 150px;
  top: 40px;
  background-color: yellow;
  position: relative;

  animation:example 5s linear  ;
  animation-iteration-count: 1;
  animation-duration: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;

}
@keyframes example {
    0% {
        transform: rotate(0deg);
        left: 0px;
        top: 46.7px;

    }
    25%{
        
        transform: rotate(90deg);
        left:25%;
        top: 46.7px;

        
    }
    50%{
        
        transform: rotate(180deg);
        left:50%;
        top: 46.7px;

    }
    75%{
        
        transform: rotate(270deg);
        left:75%; 
        top: 46.7px;


    }
    100%{
        
        transform: rotate(360deg);
        left:90%;
        top: 46.7px;


    }
  }